.navBar{
    padding: 1em;
    box-shadow: 0 10px 4px 0 rgba(0,0,0,.2);
}

.navBarTitle{
    font-size: 100px;
}

.flexContainer{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

}


.flexItem{
    display: flex;
    margin: 0.5em;
    padding: 0.5em;
    box-shadow: 0 10px 4px 0 rgba(0,0,0,.2);
    flex-direction: column;

}

.flexElement{
    min-width: 100px;
    max-width: 300px;
    margin: 0.5em;
    padding: 0.5em;
    text-align: center;
    
}

.buttonGreen{
    background-color:rgba(44, 255, 107, 0.815);
    color: white;
}
.buttonGreen:hover{
    background-color:rgba(142, 255, 176, 0.815);
}
